src/data/Test/anger/*
src/data/Test/contempt/*
src/data/Test/disgust/*
src/data/Test/fear/*
src/data/Test/happiness/*
src/data/Test/neutral/*
src/data/Test/sadness/*
src/data/Test/surprise/*

src/data/Train/anger/*
src/data/Train/contempt/*
src/data/Train/disgust/*
src/data/Train/fear/*
src/data/Train/happiness/*
src/data/Train/neutral/*
src/data/Train/sadness/*
src/data/Train/surprise/*

src/data/Valid
src/Fer/*